{% extends 'base.html.twig' %}

{% block title %}Editer l'évenement{% endblock %}

{% block body %}
    <h1 id="hautPage">Editer l'évenement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_index') }}">Retour</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
