{% extends 'base.html.twig' %}

{% block title 'MerrymakingTickets' %}

{% block body %}
	<div class="container">
		<h2>
			Nos produits
			<h2>
				<div class="row flex">
					{% for property in users %}
						<div class="col-3">
							<div class="card">
								<h5 class="card-title">
									<a href="#">
										{{property.name_users}}
										{{property.firstname_users}}</a>
								</h5>
								<p class="card-text">{{property.phone_number_users}}</p>
								<p class="card-text">{{property.mail}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
