{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-4">
		<h2>Editer le bien</h2>
		{{ form_start(form) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>

{% endblock %}
