{% extends 'base.html.twig' %}

{% block title 'Gérer les utilisateurs' %}

{% block body %}
	<div class="container mt-4">
		<h1>Gérer les utilisateurs</h1>
	</div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for users in users %}
			<tr>
				<td>{{ users.nameUsers }} {{ users.firstnameUsers }} </td>
                <td>
                <a href="{{ path('admin.users.edit', {id: users.id}) }}" class="btn btn-secondary">Editer</a>
                </td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
<div class="text-right">
<a href="{{ path('admin.users.new')}}" class="btn btn-primary"> Créer un nouvel utilisateur</a>

</div>

{% endblock %}