{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-4">
		<h2>Editer l'utilisateur:</h2>
	{{ include ('users/_form.html.twig', {form: form, button: 'Editer'}) }}
	{# {{ include('users/_form.html.twig', {'button_label': 'Editer'}) }} #}

	</div>

{% endblock %}
