{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-4">
		<h2>Créer un nouvel utilisateur:</h2>
	{{ include ('users/_form.html.twig', {button: 'Créer'})}}
	</div>

{% endblock %}
